<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}">

<head>
    <title>Question Info List</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <div class="col-12 grid-margin">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Option A</th>
                    <th>Option B</th>
                    <th>Option C</th>
                    <th>Option D</th>
                    <th>Answer</th>
                    <th>Explanation</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="data : ${list}">
                    <td th:text="${data.getTitle()}">Type</td>
                    <td th:text="${data.getOptionA()}">Version</td>
                    <td th:text="${data.getOptionB()}">Version</td>
                    <td th:text="${data.getOptionC()}">Version</td>
                    <td th:text="${data.getOptionD()}">Version</td>
                    <td th:text="${data.getAnswer()}">Version</td>
                    <td th:text="${data.getExplanation()}">Explanation</td>
                </tr>

                </tbody>
            </table>

            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td class="gutter">
                        <div class="line number1 index0 alt2" style="display: none;">1</div>
                    </td>
                    <td class="code">
                        <div class="container" style="display: none;">
                            <div class="line number1 index0 alt2" style="display: none;">&nbsp;</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>