/KMeansAlgorithm/nbproject/private/
/ReadContentFromUrl/nbproject/private/
/ReadContentFromUrl/build/
/JavaCollections/nbproject/private/
/jsp-ex5-implicitObject-session/nbproject/private/
/jsp-ex5-implicitObject-session/build/
/jsp-ex5-implicitObject-session/dist/
/jsp-ex6-implicitObject-page/nbproject/private/
/jsp-ex6-implicitObject-page/build/
/jsp-ex6-implicitObject-page/dist/
/jsp-ex6-implicitObject-pageContext/nbproject/private/
/jsp-ex6-implicitObject-pageContext/build/
/jsp-ex7-implicitObject-page/nbproject/private/
/jsp-ex7-implicitObject-page/build/
/jsp-ex-8-errorPage/nbproject/private/
/jsp-ex-8-errorPage/build/
/jsp-ex9-actionTag-forward/nbproject/private/
/jsp-ex9-actionTag-forward/build/
/SearchAlgorithms/nbproject/private/
/SearchAlgorithms/build/