<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <body>

        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="side-navbar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/" th:href="@{/}">
                        <span class="menu-title">Dashboard</span>
                        <!--<span class="menu-sub-title">( 2 new updates )</span>-->
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#cat" aria-expanded="false" aria-controls="cat">
                        <span class="menu-title">Category</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    </a>
                    <div class="collapse" id="cat">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" th:href="@{/cat/create.do}" href="/cat/create.do">Create</a></li>
                            <li class="nav-item"> <a class="nav-link" th:href="@{/cat/list.do}" href="/cat/list.do">List</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#level" aria-expanded="false" aria-controls="level">
                        <span class="menu-title">Level</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    </a>
                    <div class="collapse" id="level">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" th:href="@{/level/create.do}" href="/level/create.do">Create</a></li>
                            <li class="nav-item"> <a class="nav-link" th:href="@{/level/list.do}" href="/level/list.do">List</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ques" aria-expanded="false" aria-controls="ques">
                        <span class="menu-title">Question</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    </a>
                    <div class="collapse" id="ques">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" th:href="@{/ques/create.do}" href="/ques/create.do">Create</a></li>
                            <li class="nav-item"> <a class="nav-link" th:href="@{/ques/list.do}" href="/ques/list.do">List</a></li>
                        </ul>
                    </div>
                </li>

                <span sec:authorize="!isAuthenticated()">

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="menu-title">MMS Connection</span>
                        <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="menu-title">Goose Runtime</span>
                        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    </a>
                </li>
                </span>

            </ul>
            <!--<div class="sidebar-progress">-->
                <!--<p>Total Entties</p>-->
                <!--<div class="progress progress-sm">-->
                    <!--<div class="progress-bar bg-gradient-success" role="progressbar" style="width: 72%" aria-valuenow="13" aria-valuemin="0" aria-valuemax="30"></div>-->
                <!--</div>-->
                <!--<p>13 Entity Done</p>-->
            <!--</div>-->
            <!--<div class="sidebar-progress">-->
                <!--<p>Target</p>-->
                <!--<div class="progress progress-sm">-->
                    <!--<div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 90%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="30"></div>-->
                <!--</div>-->
                <!--<p>30 Entities</p>-->
            <!--</div>-->
        </nav>

    </body>

</html>