<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}">

<head>
    <title>Data Create</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <div class="col-12 stretch-card">
            <span th:utext="${successMessage}"></span>
        </div>

        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add New Level</h4>

                    <form class="forms-sample"  th:object="${obj}"  th:action="@{/level/create.do}"  method="post">
                        <div class="form-group row">
                            <label for="category" class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                              <select id="category">
                                  <span th:each="cat : ${catlist}" th:name="catID">
                                      <option th:value="${cat.getId()}"><span th:text="${cat.getName()}"></span></option>
                                      </span>
                              </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Level Title</label>
                            <div class="col-sm-9">
                                <input th:type="text" class="form-control" id="name"
                                       th:value="${obj.getName()}" th:name="*{name}"
                                       th:field="*{name}" placeholder="Enter Category Name" required>
                                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                       class="text-danger"></label>
                            </div>
                        </div>

                        <button class="btn btn-success mr-2 float-right">Submit</button>
                        <button type="submit" class="btn btn-light mr-2 float-right">Reset</button>

                    </form>
                </div>
            </div>
        </div>


    </div>
</div>

</body>
</html>